{% extends "template.html" %}
{% block content %}
	<div class="jumbo">
		<h2>Where's the Party At?</h2>
		<br/>
		<p>Click <a href="/map">here</a> to go to the welcome page</p>
		<h3>Your College:<h3>
		<form>
			<input type="radio" name="rad" value="1" />Baker</br>
			<input type="radio" name="rad" value="2" />Brown</br>
			<input type="radio" name="rad" value="3" />Duncan</br>
			<input type="radio" name="rad" value="4" />Hanszen</br>
			<input type="radio" name="rad" value="5" />Jones</br>
			<input type="radio" name="rad" value="6" />Lovett</br>
			<input type="radio" name="rad" value="7" />Martel</br>
			<input type="radio" name="rad" value="8" />McMurtry</br>
			<input type="radio" name="rad" value="9" />Sid Rich</br>
			<input type="radio" name="rad" value="10" />Wiess</br>
			<input type="radio" name="rad" value="11" />Will Rice</br>
			<input type="radio" name="rad" value="11" />GSA</br>
		</form>
		<br>
		<button type="button" style="width: 150px;">Submit</button>
	</div>
{% endblock %}