{% extends "template.html" %}
{% block content %}
	<div class="jumbo">
		<h2>home</h2>
		<br/>
		<p>Click <a href="/welcome">here</a> to go to the welcome page</p>
		<h3>College<h3>
		<form>
			<!--<input type="text" name="q" />
			<input type="submit" /> -->

  			<select name="q">
  				<option value="1">Wiess</option>
  				<option value="2">Hanszen</option>
 				<option value="3">Lovett</option>
 				<option value="4">Sid Rich</option>
 				<option value="5">Baker</option>
 				<option value="6">Will Rice</option>
 				<option value="7">Duncan</option>
 				<option value="8">Brown</option>
 				<option value="9">Martel</option>
 				<option value="10">Jones</option>
 				<option value="11">McMurtry</option>
			</select>
		</form>
		<br>
		


	</div> 
{% endblock %}